@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

:root {
 --cor1: rgb(255, 145, 0);
 --cor2: rgba(255, 145, 0, 0.501);
 --cor3: rgb(238, 215, 193);

 --font-padrao: arial, helvetica, sans-serif;
}

body {
    font-family: var(--font-padrao);
    background-color: black;
}

header h1 {
    color: var(--cor1);
    text-align: center;
    letter-spacing: 1px;

    padding-top: 50px;
    font-size: 3em;
}

header h2 {
    color: white;
    text-align: center;
    font-size: 1em;
    padding-top: 40px;
    text-transform: uppercase;
}

aside  {
   text-align: center;
}

aside p {
    color: white;
    margin-top: 20px;
    line-height: 2em;
}

aside > img {
    width: 230px;
    height: 240px;
    border-radius: 50%;
    box-shadow: 0px 0px 14px var(--cor2);
}


.container-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

article {
    height: 200px;
    width: 200px;
    background-color: white;
    box-shadow: 0px 10px var(1);
    border-radius: 30px;
    transition-duration: 0.5s;
}

article:hover {
    background-color: var(--cor3);
    transform: scale(1.05);
}

article img {
    height: 100px;
    width: 150px;
}

article h3 {
    margin-left: 20px;
}

footer {
    margin-top: 120px;
    text-align: center;
    color: white;
    background-color: var(--cor2);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
}
